@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
@import url("https://fonts.googleapis.com/css2?family=Lato");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.bar {
  padding: 0 0;
  display: block;
  height: 35px;
  width: 100%;
  background: #272a31;
  color: white;
}

.bar__cont {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 140px;
}

.bar__item {
  text-decoration: none;
  margin-left: 5px;
  width: auto;
  padding: 0 5px;
  color: white;
  z-index: 2;
}

.header__nav {
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
  width: 100%;
}

.header__nav--cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.header__nav--item {
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;
  color: #f74508;
  margin-left: 15px;
}

.header__camp {
  width: auto;
  height: auto;
  border: red 5px solid;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

body {
  background-image: url("images/main-big2.png");
  background-color: lightgrey;
  width: 100vw;
  overflow-x: hidden;
}

.menu-container {
  height: 0;
  width: 650px;
}

.nav-list {
  top: 15px;
  left: 0;
  padding: 45px;
  display: none;
}

.nav-item {
  list-style: none;
  margin: 25px 25px 25px 65px;
}

.nav-link {
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  color: #f74508;
}

.mobile-icons {
  width: 600px;
}

.nav-item1 {
  top: 25px;
  left: 25px;
}

.nav-item2 {
  display: none;
  top: 0;
  left: 600px;
}

.mobile-intro {
  width: 85%;
  top: 110px;
  left: 35px;
}

.center-text {
  text-align: center;
}

.title1 {
  font-family: "COCOGOOSE", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  color: #f74508;
  margin: 15px 0 0 0;
  padding: 0 0 0 15px;
}

.title2 {
  font-family: "COCOGOOSE", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  color: #f74508;
  margin: 25px 0 0 0;
  padding: 0 0 0 15px;
}

.bg-color-white {
  background-color: white;
}

.content1 {
  border: 3px solid #fff;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #272a31;
  width: 85%;
  padding: 15px;
  top: 170px;
  left: 35px;
}

.content2 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 42px;
  line-height: 32px;
  color: #272a31;
  width: 85%;
  padding: 10px 0 5px 15px;
  top: 180px;
  left: 35px;
}

.content3 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #272a31;
  width: 85%;
  padding: 15px;
  top: 185px;
  left: 35px;
}

.main-container1 {
  width: 100%;
  background-color: black;
  top: 200px;
  left: 5%;
  height: 585px;
}

.title3 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 32px;
  color: #fff;
  padding: 25px 0 25px 0;
  text-align: center;
}

.program-event-list {
  top: 65px;
  left: 8%;
  width: 95%;
  margin-left: 3%;
  margin-right: 2%;
}

.event-item {
  border: 3px white solid;
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.event-icon {
  margin-left: 5%;
}

.event-title {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #ec5242;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  margin-left: 7%;
  width: 55px;
}

.event-text {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-left: 7%;
}

.main-container2 {
  width: 85%;
  top: 200px;
  left: 35px;
  height: 585px;
}

.title4 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 32px;
  color: black;
  top: 55px;
  left: 10%;
}

.actors-list {
  width: 85%;
  top: 80px;
  left: 5%;
}

.actor-name {
  top: -125px;
  left: 180px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.actor-character {
  top: -125px;
  left: 180px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ec5242;
}

.content4 {
  background-color: white;
  width: 500px;
  padding: 25px 0 5px 15px;
  top: 185px;
  left: 35px;
}

.title5 {
  padding: 15px 45px 15px 45px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #272a31;
}

.content5 {
  background-color: white;
  width: 500px;
  padding: 15px;
  top: 185px;
  left: 35px;
}

.title6 {
  padding: 0 45px 15px 45px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #272a31;
}

.content5-img {
  width: 450px;
  left: 15px;
}

.separator {
  width: 500px;
  top: 187px;
  left: 25px;
  padding: 35px;
}

.contentCharacters {
  background-color: white;
  width: 500px;
  padding: 25px 0 5px 15px;
  top: 185px;
  left: 35px;
  height: 1200px;
}

.characters-list > ul {
  top: 25px;
  left: 15px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.parters-container {
  background-color: #414246;
  top: 185px;
  width: 100%;
  height: 450px;
  padding: 65px 35px 35px 35px;
}

.partnerImg1 {
  top: 25px;
  left: 15px;
}

.partnerImg2 {
  top: 25px;
  left: 35px;
}

.partnerImg3 {
  top: 25px;
  left: 65px;
}

.partnerImg4 {
  top: 90px;
  left: 55px;
}

.partnerImg5 {
  top: 90px;
  left: 90px;
}

.title7 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 32px;
  color: #fff;
  top: 5px;
  left: 225px;
}

.mobileFooter1 > ul {
  background-color: white;
  top: 185px;
  width: 100%;
  height: 150px;
  padding: 45px 35px 35px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobileFooter2 > ul {
  background-color: white;
  top: 395px;
  width: 100%;
  height: 150px;
  padding: 45px 35px 35px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.desktopFooter > ul {
  background-color: white;
  top: 330px;
  width: 100%;
  height: 150px;
  padding: 45px 35px 35px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .title1 {
    left: 145px;
    font-weight: 200;
    font-size: 38px;
    line-height: 46px;
    width: 85%;
  }

  .title2 {
    left: 145px;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    width: 85%;
  }

  .content1 {
    left: 195px;
    width: 80%;
  }

  .content2 {
    left: 195px;
    width: 85%;
  }

  .content3 {
    left: 195px;
    width: 85%;
  }

  .desktopMainProgram {
    width: 100%;
    background-color: black;
    padding-bottom: 45px;
  }

  .titleEvents {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 32px;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 35px 0 35px 0;
  }

  .destopEvents > ul {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;;
    margin-right: 2%;
  }

  .list-events-icons {
    top: 25px;
    left: 5px;
  }

  .desktop-event-title {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #ec5242;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
  
  .event-box {
    border: 3px solid white;
    text-align: center;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.2);;
  }

  .eventSubTitle {
    padding: 2px;
  }

  .eventDescrip {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;    
    padding: 5px;
  }

  .actors-list-title {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 32px;
    color: black;
    top: 275px;
    left: 450px;
    margin: 45px 0 45px 0;
  }

  .actors-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    top: 275px;
    left: 45px;
    width: 1200px;
  }

  .actor1-picture {
    grid-column: 1;
    padding: 45px 25px 45px 85px;
  }

  .actor1-details {
    grid-column: span 2;
    padding: 45px 0 45px 0;
  }

  .actor2-picture {
    grid-column: 4;
    padding: 45px 25px 45px 45px;
  }

  .actor2-details {
    grid-column: span 2;
    padding: 45px 0 45px 0;
  }

  .desktopActorName {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: black;
    padding: 15px 0 10px 0;
  }

  .desktopActorCharacter {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #ec5242;
  }

  .desktop-intro {
    top: 150px;
    left: 200px;
    width: 650px;
    margin: 45px;
  }

  .about-title2 {
    color: #ef513c;
    font-family: "COCOGOOSE", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
  }

  .about-content1 {
    top: 200px;
    left: 170px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #272a31;
    width: 800px;
    padding: 45px;
    margin: 45px;
  }

  .about-content3 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #272a31;
    width: 500px;
    padding: 15px;
    top: 225px;
    left: 375px;
  }

  .about-content4 {
    background-color: white;
    width: 800px;
    padding: 25px 0 5px 15px;
    top: 250px;
    left: 225px;
  }

  .about-content5 {
    background-color: white;
    width: 800px;
    top: 250px;
    left: 225px;
    padding: 0 0 45px 45px;
  }

  .about-title5 {
    padding: 15px 45px 15px 45px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #272a31;
  }

  .about-title6 {
    padding: 10px 45px 30px 45px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #272a31;
  }

  .about-separator {
    top: 275px;
    left: 100px;
    width: 1100px;
    padding: 45px;
  }

  .desktop-movies {
    top: 325px;
    left: 175px;
    width: 900px;
    height: 500px;
    text-align: center;
    margin: 25px 0 0 45px;
  }

  .movies-list > ul {
    padding: 25px 0 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .desktop-title7 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 32px;
    color: #fff;
    top: 50px;
    left: 5px;
    z-index: 1;
  }

  .desktop-partners {
    background-color: #414246;
    top: 335px;
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 25px;
  }

  .desktop-partners-list > ul {
    margin-top: 125px;
    padding: 25px 0 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #414246;
  }
}
